[user]
	email = mleyb@users.noreply.github.com
	name = Mark Leybourne
[core]
	editor = code --wait
	autocrlf = true
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool]
    cmd = code --wait $MERGED
[alias]
	a = add
	b = branch
	c = checkout
	cl = clone
	cp = cherry-pick	
	f = fetch
	l = log
	lo = log --oneline
	last = log -1 HEAD
	m = merge
	p = pull
	pr = pull --rebase
	put = push --tags
	r = rebase
	rom = rebase origin/master
	rv = revert
	s = status
[fetch]
	prune = true
[pull]
	rebase = true
