[user]
	email = mleyb@users.noreply.github.com
[core]
	editor = code --wait
	autocrlf = false
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[alias]
	s = status
	p = pull
